/* пишем стили */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
}

h1, h2, .copy {
	font-family: "RedRingLight", sans-serif;
	font-weight: 100;

}
button {
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;

}

a{
	text-decoration: none;
}

input, textarea, button {
	outline: none;
}

footer{
	width: 100%;
	height: 55px;
	background: rgba(255, 168, 168, 1);
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
}
/* end reset */

/*  start header*/
header{
	padding-top: 15px;
	height: 100px;
}
.logo{
	text-align: center;
}
/* end header */

/*start banner */
.banner{
	height: 650px;
	padding-top: 170px;
	background: linear-gradient(to top, #9b609e, #6d8cfffa)
}
.banner_text, .banner_image{
	margin: 0 auto;
	text-align: center;
}
.banner_text h1{
	font-size: 40px;
}
.banner_tick{
	font-size: 5em;
	font-weight:bold;
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
}
.banner_image img{
	margin-top: 19px;
}

/* end banner */

/* start definition*/
.definition{
	padding: 105px 0;
}
.definition_item{
	display: inline-block;
	width: 33.33%;
	float: left;
	padding: 0 30px;
	text-align: center;
}
.definition_item h3{
	font-family: "ProximaNovaThin", sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
}
.definition_item p{
	width: 75%;
	margin: 0 auto;
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
	text-align: justify;
}
.definition_item div{
	margin: 25px 0;
}
.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
/* end definition */

/*start form */
.form{
	background-color: #f8f6f6;
	text-align: center;
	padding: 100px 0;
}
input, textarea{
	width: 100%;
	font-size: 18px;
	border: 2px solid #3e0992;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 50px;
	padding: 10px;
}
.form form{
	width: 60%;
	display: inline-block;
}
section.form{

}
.btn{
	display: inline-block;
	height: 40px;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 10px 10%;
	text-align: center;
	border: none;
	background-image: linear-gradient(to right, #9b609e 0%, #fffffffa 51%, #9b609e 100%);
	background-size: 200% auto;
	transition: 0.6s;
	cursor: pointer;
}
.btn:hover{
	background-position: right, center;
}
.form h2{
	font-size: 30px;
}
