header{
  margin-bottom: 15px;
}

footer{
  margin-top: 15px;
}

footer nav{
  background-color: #
}

.carousel-control-prev{
  background: linear-gradient(90deg, grey, white);
}
.carousel-control-next{
  background: linear-gradient(90deg, white, grey);
}

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus {
      background-color: darken($color, 10%) !important;
    }
  }
}

@mixin bg-gradient-variant($parent, $color) {
  #{$parent} {
    background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x !important;
  }
}
